/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*Nav Bar*/
.project a {
  float: left;
  text-decoration: none;
  padding: 1em;
  color: white;
}

.navbar-header {
  text-decoration: none;
  float: right;
  text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 700;
}

.navbar-header #search_bar {
  color:grey;
  text-transform: uppercase;
}

#search_form {
  padding: 1em 1em .5em 1em;
}

#search_label {
  color: white;
}

#search_button:hover{
  color: #FF3399; 
}

#search_button {
  transition: color 600ms;
	-webkit-transition: color 600ms;
	-moz-transition: color 600ms;
	-o-transition: color 600ms;
}

/*Form Elements*/

.container {
  padding-top: 100px;
  padding-bottom: 2%;  
}

.form-group {
  display: inline;
}

.input-text {
  font-style: italic;
  margin-top: 1%;
}

.submit-button {
  margin: 1%;
  margin-left: 0;
}

.todo_block {
  border: solid 2px #F1376F;
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
}

.row {
  padding: 1%;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: 1px solid black;
  padding: 1%;
  margin: 2px;
}

#urgent_label {
  background-color: #F1376F;
  padding: 7px;
  border-radius: 5%;
}

#pending_label {
  background-color: #FFC958;
  padding: 7px;
  border-radius: 5%;
}

#later_label {
  background-color: #30D1AD;
  padding: 7px;
  border-radius: 5%;
}
/*To Do Items*/

li {
  list-style-type: none;
}

.list_actions p {
  display: inline;
}

.todo_item {
  float: left;
  text-align: left;
}

.glyphicon {
  float: left;
  margin-right: 2%;
  font-size: 100%;
}

/*Class Selectors for Priority*/
.Urgent {
  border-color: #F1376F;
}

.Urgent .glyphicon-unchecked {
  color: #F1376F;
}

.Pending {
  border-color: #FFC958;
}

.Pending .glyphicon-unchecked {
  color: #FFC958;
}

.Later {
  border-color: #30D1AD;
}

.Later .glyphicon-unchecked {
  color: #30D1AD;
}

#error_message {
  text-align: center;
}
